.place-info 
  display: grid
  grid-template-columns: repeat(2, 50%)
  &__base-info
    padding: 0 2rem
    display: flex
    flex-direction: column
  &__desc
    text-align: justify
  &__main-img 
    height: 100% !important
    object-fit: cover
  &__swiper
    margin-top: auto
    max-height: 300px
  &__video
    width: 100%